{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}main page{% endblock title %}



{% block content%}
<div class="container">
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}

{{ wtf.quick_form(form, button_map = {'submit_button':'primary'}) }}
<br><br>
<table class="table table-hover">
    <thead><tr><th>username</th><th>email</th></tr></thead>
    <tbody>
{% for user in user_list %}
<tr><td>{{user.username}}</td><td>{{user.email}}</td></tr>
{% endfor%}
    </tbody>
</table>
</div>
{%endblock content %}
